*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Segoe UI', sans-serif;
}

body{
  background:#f5f5f5;
}

header{
  background:#111;
  color:white;
  padding:15px 40px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

nav a{
  color:white;
  margin-left:20px;
  text-decoration:none;
}

.hero{
  text-align:center;
  padding:60px 20px;
  background:linear-gradient(to right,#000,#333);
  color:white;
}

.products{
  display:flex;
  justify-content:center;
  gap:40px;
  padding:40px;
}

.card{
  background:white;
  padding:20px;
  border-radius:10px;
  box-shadow:0 5px 15px rgba(0,0,0,0.1);
  text-align:center;
  width:220px;
  transition:0.3s;
}

.card:hover{
  transform:translateY(-5px);
}

button{
  background:black;
  color:white;
  padding:10px 15px;
  border:none;
  border-radius:5px;
  cursor:pointer;
  margin-top:10px;
}

.cart-box{
  text-align:center;
  padding:40px;
}

.dashboard{
  display:flex;
  justify-content:center;
  gap:30px;
  padding:40px;
}

.box{
  background:white;
  padding:30px;
  border-radius:10px;
  width:200px;
  text-align:center;
  box-shadow:0 5px 15px rgba(0,0,0,0.1);
}